<h4>
  Dodaj wycieczke</h4>
<div>

    <div class="form-group">
      <ul>
        <li>
          <label>Liczba dni</label>
          <input type="text"  [(ngModel)]="countOfDays" class="form-control">
        </li>
        <li>
          <label>Liczba osób</label>
          <input type="text"  [(ngModel)]="countOfPerson" class="form-control">
        </li>
        <li>
          <label>Data wylotu:</label>
          <input type="date"  [(ngModel)]="departureDate" class="form-control">
        </li>
        <li>
          <label>Data powrotu:</label>
          <input type="date"  [(ngModel)]="returnDate" class="form-control">
        </li>
        <li>
          <label>Opis:</label>
          <input type="text"  [(ngModel)]="description" class="form-control">
        </li>
        <li>
          <label>Cena dla dorosłych:</label>
          <input type="number"  [(ngModel)]="priceForAdult" class="form-control">
        </li>
        <li>
          <label>Cena da dzieci:</label>
          <input type="number"  [(ngModel)]="priceForChild" class="form-control">
        </li>
        <li>
          <label>Wybierz lotnisko wylotu:</label>
          <select name="airports"  [(ngModel)]="airportEntityFrom" class="form-control">
            <option value="0">wybierz lotnisko</option>
            <option *ngFor="let airport of airportService.airports" [ngValue]="airport.id">{{airport.name}}</option>
          </select>
          <div>
            <nav>
              <a class="btn btn-link" href="/administrator/airport-add">dodaj nowe lotnisko</a>
            </nav>
          </div>
        </li>
        <li>
          <label>Wybierz miasto docelowe:</label>
          <select name="cities"  [(ngModel)]="cityTo" class="form-control">
            <option value="0">wybierz miasto</option>
            <option *ngFor="let city of cityService.cities" [ngValue]="city.id">{{city.name}}</option>
          </select>
          <div>
            <nav>
              <a class="btn btn-link" href="/administrator/city-add">dodaj nowe miasto</a>
            </nav>
          </div>
          </li>
          <li>
            <label>wybierz lotnisko docelowe:</label>
            <select name="airports"  [(ngModel)]="airportEntityTo" class="form-control">
              <option value="0">wybierz lotnisko</option>
              <option *ngFor="let airport of airportService.airports" [ngValue]="airport.id">{{airport.name}}</option>
            </select>
            <div>
              <nav>
                <a class="btn btn-link" href="/administrator/airport-add">dodaj nowe lotnisko</a>
              </nav>
            </div>

          </li>
          <li>
            <label>Wybierz hotel</label>
            <select name="hotels"  [(ngModel)]="hotelEntity" class="form-control">
                <option value="0">wybierz hotel</option>
                <option *ngFor="let hotel of hotelService.hotels" [ngValue]="hotel.id">{{hotel.name}}</option>
              </select>
              <div>
                <nav>
                  <a class="btn btn-link" href="/administrator/hotel-add">dodaj nowy hotel</a>
                </nav>
              </div>

          </li>
          <li>
            <label>Promocja:</label>
            <input type="number"  [(ngModel)]="promotion" class="form-control">
          </li>
      </ul>
    </div>
    <button (click)="addTrip()">zapisz</button>

</div>
<br>
<p>
  <a class="btn btn-success" routerLink=''>powrót</a>
</p>
<p></p>
