

<p>
    Wprowadź nazwę miasta:
    <input type="text" name="city_name" [(ngModel)]="name">
  </p>


<label for="countryName">Wybierz kraj: </label>
<select name="countries" [(ngModel)]="selectedValue" class="form-control">
    <option value="0">wybierz kraj</option>
    <option *ngFor="let country of countryService.countries" [ngValue]="country.id">{{country.name}}</option>
  </select>

  <button (click)="addCity()">zapisz</button>



<div>
    <nav>
        <a class="btn btn-link" href="/administrator/city-add/country-add">dodaj nowy kraj</a>
      </nav>
</div>
<p>
  <a class="btn btn-success" href="/administrator">powrót</a>

    <a class="btn btn-success" href=''>powrót do strony głównej</a>

  </p>
