<div class='container-fluid'>
  <div class="row" class="border border-primary">
  Menuu
  </div>
  <div class="row" class="border border-primary">
    <h1>TYTUŁ</h1>
  </div>
  <div class="row" class="border border-primary">
    Wyszukiwanie
  </div>
  <div class="row justify-content-center" >
    <div class="col" style="width: 32.8%" class="border border-primary">
      lista promowane
    </div>
    <div class="col" style="width: 32.8%"  class="border border-primary">
      lista najbliższe
    </div>
    <div class="col" style="width: 32.8%"  class="border border-primary">
      lista ostatnio zakupionych
    </div>
  </div>
  <div class="row" class="border border-primary">
    STOPKA
  </div>
</div>