<div class='fluid'>
  <div class="row justify-content-center" >
  <app-menu></app-menu>
  </div>
  <div class="app-title" align="center" class="justify-content-center">
        <app-title></app-title>
    </div>
  <div class="app-browser" align="center" class="justify-content-center">
   <app-browser></app-browser>
  </div>
  <div class="row justify-content-center" >
    <div class="col" style="width: 32.8%" class="border border-primary">
      lista promowane
    </div>
    <div class="col" style="width: 32.8%"  class="border border-primary">
      lista najbliższe
    </div>
    <div class="col" style="width: 32.8%"  class="border border-primary">
      lista ostatnio zakupionych
    </div>
  </div>
  <div class="row" class="border border-primary">
    STOPKA
  </div>
</div>