<div class='fluid'>
  <div class="row justify-content-center" >
  <app-menu></app-menu>
  </div>
  <div class="app-title" align="center" class="justify-content-center">
        <app-title></app-title>
    </div>
  <div class="app-browser" align="center" class="justify-content-center">
   <app-browser></app-browser>
  </div>
  <div class="row justify-content-center" align="center"  >
    <div class="col" style="width: 32.8%" class="justify-content-center">
      lista promowane
    </div>
    <div class="col" style="width: 32.8%"  class="justify-content-center">
      lista najbliższe
    </div>
    <div class="col" style="width: 32.8%"  class="justify-content-center">
      lista ostatnio zakupionych
    </div>
  </div>
  <div class="app-stopka" align="center" class="justify-content-center">
    <app-stopka></app-stopka>
  </div>
</div>
